[submodule "Project-2"]
	path = Project-2
	url = git@github.com:Nahshon-Revature/Project-2.git
[submodule "transformer-pj2"]
	path = transformer-pj2
	url = git@github.com:dannyhlee/transformer-pj2.git
